<h1>Mdbs#index</h1>
<% @mdbs.each do |f| %>
	<tr>
		<td><%=  f.file_name %></td>
		<td><%= link_to 'Download', mdb_download_path(f) %></td>
		<td><%= link_to 'Destory', mdb_destroy_path(f) %></td>
		<td><%= link_to 'Analyze', "https://psp-analysis-java.herokuapp.com/test/aa/sample/hoge/hoge" %></td>
		<td><%= link_to 'Analyze', mdb_analyze_path(f,format: :json) %></td>
	</tr>
	<br>
<% end %>
<%= form_tag import_mdbs_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "インポート" %>
<% end %>
